.Hero {
    width: 100%;
    height: 100vh;
    background-image: url("../img/tongji/bg/03.png");
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: 1s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.HeroGroup {
    margin: 0 auto;
    max-width: 500px;
    padding: 150px 50px;
    text-align: center;
}

.HeroTextGroup h1 {
    margin: 5px;
    font-size: 80px;
    font-weight: 600;
    opacity: 0;
    color: rgba(255, 255, 255, 1);
    animation: HeroAnimation 3s 0.1s forwards cubic-bezier(0.2, 0.8, 0.2, 1);
}
.HeroTextGroup h3 {
    margin: 0;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 15px;
    margin-bottom: 45px;
    opacity: 0;
    color: rgba(255,255,255,0.9);
    animation: HeroAnimation 3s 0.2s forwards cubic-bezier(0.2, 0.8, 0.2, 1);
}
.HeroTextGroup blockquote {
    font-style: italic;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5;
    opacity: 0;
    color: rgba(255, 255, 255, 0.9);
    animation: HeroAnimation 3s 0.3s forwards cubic-bezier(0.2, 0.8, 0.2, 1);
}

/* 适配手机 */
@media (max-width: 500px) {
    .HeroGroup {
        padding: 100px 20px;
    }
    .Hero h1 {
        font-size: 40px;
    }
    .Hero p {
        font-size: 24px;
    }
}

/* 入场文字浮动动画 */
@keyframes HeroAnimation {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* 流动动画 */
.Hero svg {
    position: absolute; /* 随页面滚动的绝对定位 */
    bottom: 0;
    left: 0;
    width: 100%;
}