<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>hello world</h1>
<p>hello</p>
</body>
<script>

    function connectToBackEnd(frontendObj, url){
        return new Promise((resolve, reject) => {
            let backendObj;
            let request;
            if(window.XMLHttpRequest){
                request = new XMLHttpRequest();
            }else if(window.ActiveXObject){
                request = new window.ActiveXObject();
            }else{
                alert("请升级至最新版本的浏览器");
            }
            if(request != null){
                request.open("POST",url, true);
                request.setRequestHeader("Content-Type","application/json");
                request.send(JSON.stringify(frontendObj));
                // request.send(null);
                request.onreadystatechange=function(){
                    if(request.readyState==4 && request.status==200){
                        backendObj = JSON.parse(request.responseText);

                        resolve(backendObj);        // 通过 resolve 参数把成功的结果返回
                        reject('error');     // 通过 reject 参数把错误信息返回

                        return backendObj;
                    }
                };
            }
        });
    }
    var data = {
        username: "zz"
    };
    connectToBackEnd(data, "find-by-id")
        .then(result => {
            console.log(result);
            if(result['state'] === 'true'){

            } else {
                alert(result['msg'] + " (注册失败，请重新尝试)");
            }
        })
        .catch(error => console.log(error));
</script>
</html>