<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tongji-Memory Calendar</title>

    <link rel="stylesheet" href="../css/global.css">
    <link rel="stylesheet" href="../css/navigator.css">
    <link rel="stylesheet" href="../css/hero.css">
    <link rel="stylesheet" href="../css/sectioncaption.css">
    <link rel="stylesheet" href="../css/socialmedia.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/calendar.css">
    <link rel="stylesheet" href="../css/wavesection.css">
    <link rel="stylesheet" href="../css/history.css">
    <link rel="stylesheet" href="../css/loader.css">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_1838331_x3slqm5zsir.css" />

    <script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/contentful@latest/dist/contentful.browser.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/require.js/2.3.6/require.min.js"></script>
    
    <script src="../js/contentful.api.js"></script>
    <script src="../js/index.js"></script>
    <script src="../js/util.js"></script>
    <script src="../js/navigator.js"></script>
    <script src="../js/hero.js"></script>
    <script src="../js/socialmedia.js"></script>
    <script src="../js/calendar.js"></script>
    <script src="../js/awesome-calendar.js"></script>
    <script src="../js/wavesection.js"></script>
    <script src="../js/loader.js"></script>
    <script src="../js/history.js"></script>
</head>
<body>

    <!-- Navigator -->
    <div id="navigator" class='Navigation'>
        <div class="NavigationGroup">
          <a href="login" title="注册/登陆"><img id="avatar" /></a>
          <ul id="NavigationList">
            <!-- <li><a href="life-trace" title="人生是个不断贴标签的过程">人生轨迹</a></li> -->
          </ul>
          <button><a href="order" title="我的订单中心">订单中心</a></button>
        </div>
    </div>
    

    <!-- Hero -->
    <a class="NavigatorAnchor" id="hero-anchor">hero-anchor</a>
    <div id="hero" class="Hero" v-bind:style="styleObject">
        <div class="HeroGroup">
            <div class="HeroTextGroup">
                <h1>{{ title }}</h1>
                <h3>{{ subtitle }}</h3>
                <blockquote>“{{ quote }}”</blockquote>
            </div>
        </div>
        <svg width="100%" height=172 fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill="#fff">
            <animate repeatCount="indefinite" fill="freeze" attributeName="d" dur="10s" values="M0 25.9086C277 84.5821 433 65.736 720 25.9086C934.818 -3.9019 1214.06 -5.23669 1442 8.06597C2079 45.2421 2208 63.5007 2560 25.9088V171.91L0 171.91V25.9086Z;
    
            M0 86.3149C316 86.315 444 159.155 884 51.1554C1324 -56.8446 1320.29 34.1214 1538 70.4063C1814 116.407 2156 188.408 2560 86.315V232.317L0 232.316V86.3149Z;
    
            M0 53.6584C158 11.0001 213 0 363 0C513 0 855.555 115.001 1154 115.001C1440 115.001 1626 -38.0004 2560 53.6585V199.66L0 199.66V53.6584Z;
    
            M0 25.9086C277 84.5821 433 65.736 720 25.9086C934.818 -3.9019 1214.06 -5.23669 1442 8.06597C2079 45.2421 2208 63.5007 2560 25.9088V171.91L0 171.91V25.9086Z
            " />
            </path>
        </svg>
    </div>
    

    <!-- Calendar -->
    <a class="NavigatorAnchor" id="calendar-anchor">calendar-anchor</a>
    <div class="Calendar">
        <div class="SectionCaptionGroup">
            <h2><label>同济日历</label>📅</h2>
            <h3>Tongji Calendar</h3>
        </div>
        <div id="CalendarGroup" class="CalendarGroup">
            <div class="awesome-calendar">
                <div class="header" style="grid-area: header;">
                    <div class="left-part">
                        <div id="year-left" class="nev">&lt;&lt;</div>
                        <div id="month-left" class="nev">&lt;</div>
                    </div>
                    <h1 id="current-year-month">November<br />2017</h1>
                    <div class="right-part">
                        <div id="month-right" class="nev">&gt;</div>
                        <div id="year-right" class="nev">&gt;&gt;</div>
                    </div>
                </div>
                <div id="weeks" class="weeks" style="grid-area: weeks;">
                    <!-- <div class="week" style="grid-area: Monday;">Monday</div> -->
                </div>
                <div id="days" class="days" style="grid-area: days;">
                </div>
            </div>
        </div>
    </div>


    <input id="myinput" type="file" style="display: none" multiple />


    <!-- Wave Section -->
    <div class="WaveSectionGroup" style="background-image: url('../img/tongji/bg/02.png');">
        <div class="WaveTop">
            <svg width="100%" height=120 fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill="#fff">
                <animate repeatCount="indefinite" fill="freeze" attributeName="d" dur="10s" values="M0 25.9086C277 84.5821 433 65.736 720 25.9086C934.818 -3.9019 1214.06 -5.23669 1442 8.06597C2079 45.2421 2208 63.5007 2560 25.9088V171.91L0 171.91V25.9086Z;
        
                M0 86.3149C316 86.315 444 159.155 884 51.1554C1324 -56.8446 1320.29 34.1214 1538 70.4063C1814 116.407 2156 188.408 2560 86.315V232.317L0 232.316V86.3149Z;
        
                M0 53.6584C158 11.0001 213 0 363 0C513 0 855.555 115.001 1154 115.001C1440 115.001 1626 -38.0004 2560 53.6585V199.66L0 199.66V53.6584Z;
        
                M0 25.9086C277 84.5821 433 65.736 720 25.9086C934.818 -3.9019 1214.06 -5.23669 1442 8.06597C2079 45.2421 2208 63.5007 2560 25.9088V171.91L0 171.91V25.9086Z
                " />
                </path>
            </svg>
        </div>
        <div class="WaveBottom">
            <svg width="100%" height=120 fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill="#fff">
                <animate repeatCount="indefinite" fill="freeze" attributeName="d" dur="10s" values="M0 25.9086C277 84.5821 433 65.736 720 25.9086C934.818 -3.9019 1214.06 -5.23669 1442 8.06597C2079 45.2421 2208 63.5007 2560 25.9088V171.91L0 171.91V25.9086Z;
        
                M0 86.3149C316 86.315 444 159.155 884 51.1554C1324 -56.8446 1320.29 34.1214 1538 70.4063C1814 116.407 2156 188.408 2560 86.315V232.317L0 232.316V86.3149Z;
        
                M0 53.6584C158 11.0001 213 0 363 0C513 0 855.555 115.001 1154 115.001C1440 115.001 1626 -38.0004 2560 53.6585V199.66L0 199.66V53.6584Z;
        
                M0 25.9086C277 84.5821 433 65.736 720 25.9086C934.818 -3.9019 1214.06 -5.23669 1442 8.06597C2079 45.2421 2208 63.5007 2560 25.9088V171.91L0 171.91V25.9086Z
                " />
                </path>
            </svg>
        </div>
        <img class="WaveSectionLogo" src="../img/tongji/sign/02.png" />
        <div class="WaveSectionTitleGroup">
            <p class="Decoration left">/*</p>
            <p class="WaveSectionText">仰望星空</p>
            <p class="Decoration right">*/</p>
        </div>
    </div>


    <!-- History  -->
    <a class="NavigatorAnchor" id="history-anchor">history-anchor</a>
    <div class="History">
        <div class="SectionCaptionGroup">
            <h2><label>同济印记</label>⏳</h2>
            <h3>Tongji imprinting</h3>
        </div>
        <div id="HistoryGroup" class="HistoryGroup">
            <ul id="HistoryList" class="HistoryList">
            </ul>
        </div>
    </div>


    
    <div class="gap"></div>

    <!-- social media -->
    <a class="NavigatorAnchor" id="social-media-anchor">social-media-anchor</a>
    <div id="SocialMediaGroup" class="SocialMediaGroup">
    </div>

    <!-- footer -->
    <div class="FooterGroup">
        <p class="Text">Copyright &copy; doubleZ Tongji University. All Right Reserved.<br/>
            (仅做课程项目使用, 图转侵删)<br/>
            <a href="http://www.beian.miit.gov.cn/" target="_blank">吉ICP备20002957号</a>
        </p>
    </div>


    <!-- loader -->
    <div id="LoaderGroup" class="LoaderGroup">
        <div class="loadercontainer">
            <div class="loader">
                <div class="liquid">
                    <span style="--i:1;"></span>
                    <span style="--i:2;"></span>
                    <span style="--i:3;"></span>
                    <span style="--i:4;"></span>
                    <span style="--i:5;"></span>
                    <span style="--i:6;"></span>
                    <span style="--i:7;"></span>
                </div>
                <div id="bar" class="bar"></div>
            </div>
            <div class="text" onmouseover="LoaderMouseOver();" onmouseleave="LoaderMouseLeave();">全景日历正在加载中</div>
        </div>

        <svg>
            <filter id="gooey">
                <!--        模糊滤镜-->
                <feGaussianBlur in="SourceGraphic" stdDeviation="10"/>
                <!--        透明度滤镜-->
                <feColorMatrix values="
                1 0 0 0 0
                0 1 0 0 0
                0 0 1 0 0
                0 0 0 20 -10
                "/>
            </filter>
        </svg>
    </div>
</body>
    
</body>
</html>