<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TJ-Memory Panorama</title>

    <script src="../lib/three.js"></script>
    <script src="../lib/tpanorama.js"></script>
    <script src="../js/panorama.js"></script>
    <script src="../js/util.js"></script>
    <link rel="shortcut icon" href="../img/favicon.ico" />
    <link rel="stylesheet" href="../css/panorama.css">

</head>
<body>
    <div id="panoramaConianer"></div>
</body>

</html>